/* Ayu Mirage theme colors for Waybar */
@define-color foreground #cccac2;
@define-color background #1f2430;
@define-color blue #73d0ff;
@define-color green #d5ff80;
@define-color yellow #ffd173;
@define-color red #f28779;

#workspaces button.active label {
    color: @blue;
}

#battery.charging {
    color: @green;
}

#battery:not(.charging) {
    color: @yellow;
}

#battery.full {
    color: @green;
}

#battery.warning:not(.charging) {
    color: @red;
}

#bluetooth.connected {
    color: @blue;
}
